<h1 ng-bind-html="site.name"></h1>

<h2> Details </h2>
{{site.description}}


<h2>Lines</h2>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="line in lines">
			<td>{{line.id}}</td>
			<td ng-bind-html="line.name"></td>
			<td>
				<button ng-click="detail(line.id)" class="btn btn-info btn-xs">Detail</button>
			</td>
		</tr>
	</tbody>
</table>

<h3>Maps</h3>
<google-map center="map.center" zoom="map.zoom"></google-map>

